selectunit {
    .bodystat {
        padding: 3px 12px 9px;
        border-bottom: solid 1px #ccc;
        font-weight: bold;
        color: #999!important;
        font-size: 14px;
    }
    .toolbar {
        padding: 0px !important;
    }
    .close {
        float: right;
    }
}