.unfollow {
    background: #fff;
    border-radius: 4px;
    width: 97%;
    margin: 50% auto;
    text-align: center;
}

.unfollow img {
    border-radius: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.request {
    width: 80%;
    margin: 14px auto;
    font-size: 16px
}

.user {
    font-weight: bold;
}

.unfollowuser {
    border: solid 1px #ccc;
    line-height: 32px;
    font-weight: bold;
    font-size: 15px;
}

.ion-page {
    background: rgba(6, 1, 1, 0.74);
}