header-icon {
    span.badge {
        font-size: 1.2rem;
        top: 0px;
        right: 0px;
        position: absolute;
        padding: 2px 4px;
        margin-left: 4px;
        background-color: #2d7cfc;
        border-radius: 50%;
    }
    .bar-button-md {
        font-size: 1.9rem;
    }
    .chatboxes
    {
    margin-top: 3px;
    }
}