.optional {
    background: #fff;
    border-radius: 4px;
    width: 97%;
    margin: 50% auto;
    text-align: center;
}

.optional img {
    border-radius: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.change {
    width: 80%;
    margin: 14px auto;
    font-size: 18px
}

.user {
    font-weight: bold;
}

.unfollowoptional {
    border: solid 1px #ccc;
    line-height: 38px;
    font-weight: bold;
    font-size: 18px;
    background: #ccc;
    color: #000;
}

.unfollowoptional1 {
    border: solid 1px #ccc;
    line-height: 38px;
    font-weight: bold;
    font-size: 18px;
    background: #efa632;
    color: #000;
}

.message {
    padding: 13px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}

.ion-page {
    background: rgba(6, 1, 1, 0.74);
}