<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title (click)="changeName()">
            <ion-icon name="people" color="twitter" *ngIf="isGroup==true"></ion-icon> {{ title | translate }}
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="firechat" scrollDownOnLoad="true">
    <!--header-scroller -->
    <ion-spinner *ngIf="isloading" name="bubbles"></ion-spinner>
    <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="isAll==false">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Loading more...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list no-margin [virtualScroll]="chatList">
        <ng-container *virtualItem="let data">
            <ion-item no-lines class="chat-item" *ngIf="data.sender!=currentUser.id">
                <ion-avatar class="profile" float-left>
                    <!--ion-img cache=true [src]="currentUser.picture" onError="this.src='assets/img/empty-profile.jpg';"></ion-img-->
                    <img [src]="currentUser.picture" onError="this.src='assets/img/empty-profile.jpg';">
                </ion-avatar>
                <div class="message left" float-left>
                    <p class="name">{{data.sender | username}}</p>
                    <div class="text" *ngIf="data.type=='text'">{{data.message}}</div>
                    <ion-thumbnail *ngIf="data.type=='image'">
                        <!--ion-img cache=true class="image" src="{{data.message}}" style="position: inherit"></ion-img-->
                        <img class="image" src="{{data.message}}" style="position: inherit">
                    </ion-thumbnail>
                    <p class="time">{{data.timestamp | amTimeAgo}} </p>
                </div>
            </ion-item>

            <ion-item no-lines class="chat-item" *ngIf="data.sender==currentUser.id">
                <ion-avatar class="profile" float-right>
                    <!--ion-img cache=true [src]="currentUser.picture" onError="this.src='assets/img/empty-profile.jpg';"></ion-img-->
                    <img [src]="currentUser.picture" onError="this.src='assets/img/empty-profile.jpg';">
                </ion-avatar>
                <div class="message right" float-right>
                    <p class="name">{{currentUser.username}}</p>
                    <div class="text" *ngIf="data.type=='text'">{{data.message}}</div>
                    <ion-thumbnail *ngIf="data.type=='image'">
                        <!--ion-img cache=true class="image" src="{{data.message}}" style="position: inherit"></ion-img-->
                        <img class="image" src="{{data.message}}" style="position: inherit">
                    </ion-thumbnail>
                    <p class="time">{{data.timestamp | amTimeAgo}}</p>
                </div>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>

<ion-footer class="chat-inputer">
    <ion-scroll text-nowrap scrollX="true" class="receivers" *ngIf="thread!=null"> To :
        <ion-chip *ngFor="let user of thread.receivers">
            <ion-label>{{user | username}}</ion-label>
        </ion-chip>
    </ion-scroll>
    <div class="typings" *ngIf="typings != 0">
        <ng-container no-lines class="typing" *ngFor="let user of typings">
            <span>{{user}}</span>
        </ng-container>
        <span> is typing</span>
    </div>
    <ion-item no-lines class="inputer">
        <!--button ion-fab mini item-left (click)="selectCameraType()"><ion-icon name="ios-camera"></ion-icon></button-->
        <ion-input type="text" [(ngModel)]='message' (keyup)="updateMsg($event.target.value)" (change)='onSendMsg($event.target.value)' placeholder="{{ 'WRITEMESSGAEHERE' | translate }}......"></ion-input>
        <!--button ion-fab mini item-right><ion-icon name="ios-send"></ion-icon></button-->
    </ion-item>
    <ion-row class="action">
        <ion-col no-padding>
            <button ion-button icon-only full clear (click)="getImage('gallery')">
                <ion-icon name="ios-image" color="twitter"></ion-icon>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button ion-button icon-only full clear (click)="getImage('camera')">
                <ion-icon name="ios-camera" color="twitter"></ion-icon>
            </button>
        </ion-col>
        <ion-col no-padding>
            <button ion-button icon-only full clear>
                <ion-icon name="ios-happy" color="twitter"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>